######## STUFF I ADDED BETWEEN POUND SIGNS
script/config_hg38.sh
script/dipg2/
script/dipg/
script/refpanel/
script/hg38/
script/config_lo.sh
script/lo/
script/rm.sh
*.swp
GRCh37p13_00-All.vcf.gz.tbi
GRCh37p13_00-All.vcf.gz
script/config.sh
script/test_run/
src/hatchet.egg-info/
src/hatchet/solve
TODO_BEFORE_MERGING.txt
########

# Temp
*~
*.ucn*
!tests/data/best.bbc.ucn

# Build directory
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
